<footer class=" bg-dark">
    <div class="container">
        <div class="row py-5 pt-md-5">
            <div class="col col-md-5 text-white">
                <h5><b> GENERAL</b></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted">Sedes</a></li>
                    <li><a class="text-muted">Blog</a></li>
                    <li><a class="text-muted">Clases</a></li>
                    <li><a class="text-muted" href="mailto:bruno.leo.753@gmail.com">Contacto</a></li>
                </ul>
            </div>
            <div class="col col-md-5 text-white" >
                <h5><b>CONÓCENOS</b></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted"  target = "_blank" href="https://es.wikipedia.org/wiki/Gimnasio#:~:text=Un%20gimnasio%20(conocido%20asimismo%20con,disposici%C3%B3n%20de%20quienes%20lo%20visiten.">Historia</a></li>
                    <li><a class="text-muted" href="https://www.computrabajo.com.pe/" target="_blank">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="col col-md-2 text-white">
                <h5><b>SÍGUENOS</b></h5>
                <ul class="list-unstyled d-flex text-small">
                    <li><a class="text-muted p-2" href="https://es-la.facebook.com/" style="font-size: 30px;" target="_blank"> <i class="text-light fab fa-facebook-square"></i></a></li>
                    <li><a class="text-muted p-2" href="https://www.instagram.com/?hl=es" style="font-size: 30px;"target="_blank"> <i class="text-light fab fa-instagram"></i></a></li>
                    <li><a class="text-muted p-2" href="https://www.youtube.com/channel/UC31K_GaOcryM9zwdAxhv7Mw" style="font-size: 30px;" target="_blank"> <i class="text-light fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div> 
</footer>
