<h3>Agregar alumno</h3>

<form [formGroup]="alumnos" class="example-form">

  <p>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Primer apellido</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Segundo apellido</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </p>


  <label>Foto</label>

  <br>
  <div class="text-center">
  
    <input class="form-control" type="file" (change)="onChange($event)">

  </div>


  <button mat-raised-button color="primary" type="submit" [disabled]="!alumnos.valid" (click)="onUpload()">Guardar
    datos</button>


</form>