.example-card {
  max-width: 450px;
  min-width: 270px;
}

.example-header-image {
  background-image: url('https://cdn-icons-png.flaticon.com/512/711/711769.png');
  background-size: cover;
  
}
.example-icon {
  padding: 0 14px;
  
}
.spacer {
  flex: 1 1 auto;
}
.image{
  width: 310px;
  height: 350px;
}